<% content_for :body_class, "landing-page" %>
<% content_for :footer_class, "footer" %>

<div class="page-header header-filter" data-parallax="true" style="background: url(<%= asset_path 'bg8.jpg' %>)">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Morning Speech Management System</h1>
        <h4>An AWESOME Management System developed by some AWESOME (and handsome) developers!</h4>
        <br>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Watch video
        </a>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Let&apos;s talk product</h2>
          <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn&apos;t scroll to get here. Add a button if you want the user to see more.</h5>
        </div>
      </div>
      <div class="features">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="material-icons">chat</i>
              </div>
              <h4 class="info-title">Free Chat</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="material-icons">verified_user</i>
              </div>
              <h4 class="info-title">Verified Users</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">fingerprint</i>
              </div>
              <h4 class="info-title">Fingerprint</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section text-center">
      <h2 class="title">Here is our team</h2>
      <div class="team">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-profile card-plain">
              <div class="row">
                <div class="col-md-5">
                  <div class="card-header card-header-image">
                    <%= image_tag("faces/cuong.jpg", alt: "Thumbnail Image", class: "img") %>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Bùi Mạnh Cường</h4>
                    <h6 class="category text-muted">Trainee</h6>
                    <p class="card-description">
                      Don't be scared of the truth because we need to restart the human foundation in truth...
                    </p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <%= link_to "https://github.com/manhcuongdtbk", class: "btn btn-just-icon btn-link btn-github" do %>
                      <i class="fa fa-github"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-profile card-plain">
              <div class="row">
                <div class="col-md-5">
                  <div class="card-header card-header-image">
                    <%= image_tag("faces/thai.jpg", alt: "Thumbnail Image", class: "img") %>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Nguyễn Đình Thái</h4>
                    <h6 class="category text-muted">Trainee</h6>
                    <p class="card-description">
                      I love you like Kanye loves Kanye. Don't be scared of the truth.
                    </p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <%= link_to "https://github.com/dinhthai2206", class: "btn btn-just-icon btn-link btn-github" do %>
                      <i class="fa fa-github"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
