<%= form_for @theme do |f| %>
  <%= render "shared/error_messages", object: theme %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: t(".title") %>
  </div>
  <%= f.submit t(".save"), class: "btn btn-primary" %>
<% end %>
