<h1><%= @speech.title %></h1>
<div>
  <%= t ".author" %><%= @speech.user.name %>
</div>
<div>
  <%= t ".theme" %>
    <% @speech.themes.each do |theme| %>
      <%= theme.title %>
    <% end %>
</div>
<div>
  <%= t ".day" %><%= @speech.speaking_day %>
</div>
<div>
  <%= sanitize @speech.content %>
</div>
<div class="fb-comments" data-href="http://localhost:3000/speeches/<%= @speech.id %>" data-numposts="5"></div>
<h4>
  <%= t ".share" %>
  <%= social_share_button_tag(t(".share_friends"), url: "https://www.youtube.com/watch?v=uDaKPPmDSIE", desc: @speech.title) %>
</h4>
