<nav class="navbar navbar-color-on-scroll navbar-transparent  fixed-top  navbar-expand-lg <%= yield :custom_header %>" color-on-scroll="100" id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <%= link_to t(".MSMS"), root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <% if current_user.has_role? :admin %>
            <li class="nav-item">
              <%= link_to t(".dashboard"), rails_admin_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to t(".activities"), activities_path, class: "nav-link" %>
          </li>
          <li class="dropdown nav-item">
            <%= link_to "#", class: "dropdown-toggle nav-link", data: {toggle: "dropdown"} do %>
              <i class="material-icons">account_circle</i><%= t ".account" %>
            <% end %>
            <div class="dropdown-menu dropdown-with-icons">
              <%= link_to current_user, class: "dropdown-item" do %>
                <i class="material-icons">account_circle</i><%= t ".profile" %>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="material-icons fa fa-sign-out"></i><%= t ".sign_out" %>
              <% end %>
            </div>
          </li>
          <%= form_with url: search_path, local: true, method: :get, class: "form-inline" do |form| %>
            <div class="form-group">
              <%= form.text_field :q, placeholder: t(".search"), data: {behavior: "autocomplete"}, class: "form-control" %>
            </div>
            <%= form.button t(".search"), class: "btn btn-outline-success my-2 my-sm-0" %>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link btn btn-outline-primary" do %>
              <i class="material-icons">fingerprint</i><%= t ".sign_in" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
